@font-face {
  font-family: Hand;
  src: url(./assets/font/JustAnotherHand-Regular.ttf);
}

* {
  font-family: Hand;
  letter-spacing: 2.5px;
  font-size: 7vw;
  color: #06002b;
}

*::selection {
  background-color: #9d92e374;
  color: #270052;
}

mini {
  font-size: calc(7vw - 10px);
}

ht {
  background-color: #9d92e374;
  color: #270052;
}
ht::selection {
  background-color: #40027a;
  color: #cc9cff;
}
i {
  color: #514c74;
  font-size: calc(7vw - 20px);
}

body {
  top: 0;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  box-sizing: border-box;
}

.cursor {
  aspect-ratio: 1;
  position: fixed;
}

.cursor * {
  position: absolute;
  height: 40px;
  transform: translate(-45%, -18%);
}

.intro {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: white;
  background-color: #06002b;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 3s ease;
  pointer-events: none;
} 

.container {
  margin-inline: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  text-align: justify;
}

@media screen and (min-width: 600px) {
  * {
    font-size: 3vw;
  }

  mini {
    font-size: calc(3vw - 10px);
  }

  i {
    font-size: calc(3vw - 4px);
  }

  .container {
    margin-inline: 150px;
  }
}